
<div class="row">
	<div class="col-md-3">
		<strong>Add Program</strong>
		<form id="add-program-form" method="post" action="#">
		{% csrf_token %}
			<div class="form-group">
				{{ form.code }}
			</div>

			<div class="form-group">
				{{ form.name }}
			</div>

			<div class="form-group">
				{{ form.description }}
			</div>

			<button class="btn btn-default" type="submit">Add</button>

			<p id="add-program-form-response"></p>
		</form>
		<hr>
		<strong>Edit Program</strong>
		<p>Select a row from the table to edit</p>
		<form id="edit-program-form" method="post" action="#">
		{% csrf_token %}
			<div class="form-group">
				{{ form.code }}
			</div>

			<div class="form-group">
				{{ form.name }}
			</div>

			<div class="form-group">
				{{ form.description }}
			</div>

			<button class="btn btn-default" type="submit">Submit</button>

			<p id="add-program-form-response"></p>
		</form>
	</div>
	<div class="col-md-9">
		<table id="program-table" class="table table-condensed table-striped table-hover display">
			<thead>
				<tr>
					<th>Program Code</th>
					<th>Program Name</th>
					<th>Program Description</th>
					<th>Created Date</th>
				</tr>
			</thead>
			<tbody>
				{% for program in programs %}
					<tr>
						<td>{{ program.code }}</td>
						<td>{{ program.name }}</td>
						<td>{{ program.description }}</td>
						<td>{{ program.created_date|date:"F d, o" }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% load staticfiles %}
<script src="{% static 'admin_control/js/program.js' %}"></script>
