<div class="row">
	<div class="col-md-12">
		<form id="settings-form" action="#" method="POST">
			{% csrf_token %}
			<h3>School Year and Semester</h3>
			<div class="form-inline form-group">
				<label for="id_sy-form-value">School Year:</label>
				{{ sy_form.value }}
			</div>

			<div class="form-group form-inline">
				<label for="id_sem-form-value">Semester:</label>
				{{ sem_form.value }}
			</div>

			<h3>Projects</h3>
			<div class="form-group form-inline">
				<label for="id_capacity-form-value">Working files capacity:</label>
				{{ capacity_form.value }}
				<span>mb</span>
			</div>

			<p id="settings-form-response" class="text-success"></p>
			<button class="btn btn-default" type="submit">Submit</button
		</form>
	</div>
</div>

{% load staticfiles %}
<script src="{% static 'admin_control/js/settings.js' %}"></script>

