<div id="publication-control" class="col-md-3">
    <div id="information" class="alert alert-info" role="alert">
        <p class="text-center">
            <i class="fa fa-info-circle fa-2x"></i>
            <br>
            <strong>Publication</strong>
        </p>
        <br>

        <p>1. <strong>Working files retrieval</strong></p>
        <p>Download important files from your storage because everything will be deleted after publication.</p>
        <br>

        <p>2. <strong>Final documentation and title</strong></p>
        <p>Upload the <strong>PDF</strong> file that is considered as the project's final documentation and finalize project title.</p>
        <br>

        <p>3. <strong>Confirmation</strong></p>
        <p>Send notification to coordinator for them to check that proper 
           files were uploaded and instructions were strictly followed, and if project title is finalized.</p>
        <p>If the coordinator confirmed, the process will proceed to the next step.
           However, if the coordinator found some anomalies, confirmation will be rejected
           and the students should resolve the said anomaly.</p>
        <br>

        <p>5. <strong>File processing</strong></p>
        <p>The uploaded <strong>PDF</strong> file will be processed and be prepared for publication.</p>
        <br>

        <p>6. <strong>DONE!</strong></p>
        <p>The project is published.</p>

    </div>

</div>
