{% extends "master.html" %}
{% load widget_tweaks %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="/"> <i class="fa fa-chevron-left blue-icon"></i> Back</a>
			<h3>Reset Password</h3>
			<p>Please specify your email address to receive instructions for resetting it.</p>

			<form action="" method="post">
			    {% csrf_token %}
			    <p class="text-danger">
			    {{ form.email.errors.as_text }}
			    </p>
			    <div class="form-group">
			    	<label for="id_email">Email:</label>
			    	<br>
			    	{{ form.email|add_class:"form-control" }}
			    </div>
				<button class="btn btn-default" type="submit">Reset Password</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}