{% extends "master.html" %}
{% load widget_tweaks %}

{% block title %}Setting New password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Change password</h3>
                {% if validlink %}
                    <p>Please enter your new password twice.<br />
                       So we can verify you typed it in correctly.</p>
                    <form action="" method="post">
                        {% csrf_token %}

                        <p class="text-danger">
                            {{ form.new_password1.errors.as_text }}
                        </p>
                        <div class="form-group">
                            <label for="id_new_password1">New Password:</label>
                            <br>
                            {{ form.new_password1|add_class:"form-control" }}
                        </div>

                        <p class="text-danger">
                            {{ form.new_password2.errors.as_text }}
                        </p>
                        <div class="form-group">
                            <label for="id_new_password1">Confirm Password:</label>
                            <br>
                            {{ form.new_password2|add_class:"form-control" }}
                        </div>

                        <button class="btn btn-default" type="submit">Change my password</button>
                    </form>
                {% else %}
                    <h1>Password reset unsuccessful</h1>
                    <p>The password reset link was invalid, <br />
                    possibly because it has already been used. <br />
                    Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}