/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url'../googlefonts/fonts/montserrat-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Regular'),
       url('../googlefonts/fonts/montserrat-v6-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../googlefonts/fonts/montserrat-v6-latin-regular.woff2') format('woff2'), 
       url('../googlefonts/fonts/montserrat-v6-latin-regular.woff') format('woff'), 
       url('../googlefonts/fonts/montserrat-v6-latin-regular.ttf') format('truetype'),
       url('../googlefonts/fonts/montserrat-v6-latin-regular.svg#Montserrat') format('svg'); 
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../googlefonts/fonts/montserrat-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Bold'),
       url('../googlefonts/fonts/montserrat-v6-latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../googlefonts/fonts/montserrat-v6-latin-700.woff2') format('woff2'), 
       url('../googlefonts/fonts/montserrat-v6-latin-700.woff') format('woff'), 
       url('../googlefonts/fonts/montserrat-v6-latin-700.ttf') format('truetype'), 
       url('../googlefonts/fonts/montserrat-v6-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}



/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../googlefonts/fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../googlefonts/fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../googlefonts/fonts/roboto-v15-latin-regular.woff2') format('woff2'), 
       url('../googlefonts/fonts/roboto-v15-latin-regular.woff') format('woff'), 
       url('../googlefonts/fonts/roboto-v15-latin-regular.ttf') format('truetype'),
       url('../googlefonts/fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

