{% extends "modal.html" %}

{% block modalID %}add-event-modal{% endblock modalID %}

{% block modalTitle %}
	Add Event
{% endblock modalTitle %}

{% block modalBody %}
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#deadline" aria-controls="deadline" role="tab" data-toggle="tab">Deadline</a></li>
			{% if is_member %}
			<li role="presentation"><a href="#journal" aria-controls="journal" role="tab" data-toggle="tab">Journal</a></li>
			{% endif %}
		</ul>

		<!-- Tab panes -->
		<form id="add-event-form" method="post" action="#">
		{% if not in_profile %}
			{% if is_admin or is_coor %}
				<br>
				<div class="form-group">
					<label for="id_title">Course for:</label>
					<select name="course" id="course" style="width: 100%" class="django-select2">
						{% for course in courses %}
							<option value="{{ course.id }}">{{ course.course.name }}</option>
						{% endfor %}
					</select>
				</div>
			{% endif %}
		{% endif %}
		{% csrf_token %}
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="deadline">
					<br>
					<div class="form-group">
						<label for="id_title">Deadline for:</label>
						{{ add_deadline_event_form.title }}
					</div>

					<div class="form-group">
						<label for="id_start">Deadline:</label>
						<div id="deadline-date-picker" class='input-group date datepicker'>
				            {{ add_deadline_event_form.start_date }}
				            <span class="input-group-addon">
				                <span class="glyphicon glyphicon-calendar"></span>
				            </span>

				        </div>
					</div>

					<div class="form-group">
						<div class='input-group date timepicker'>
				            {{ add_deadline_event_form.start_time }}
				            <span class="input-group-addon">
				                <span class="glyphicon glyphicon-time"></span>
				            </span>
				        </div>
					</div>

					<div class="form-group">
						<label for="id_notes">Notes:</label>
                        {{ add_deadline_event_form.notes }}
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="journal">
					<br>
					<div class="form-group">
						<label for="id_title">Description of Activity:</label>
						{{ add_journal_event_form.title }}
					</div>

					<div class="form-group">
						<label for="id_start">Date:</label>
						<div id="journal-start-date-picker" class='input-group date datepicker'>
		                    {{ add_journal_event_form.start_date }}
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    </span>
		                </div>
					</div>

					<div class="form-group">	
						<label for="id_start">Included Members:</label>
						{% for member in members %}
							<div class="checkbox">
					         <label>
					           <input value="{{ member.id }}" class="included-members" type="checkbox" checked>
					           <span class="cr"><i class="fa fa-check cr-icon"></i></span>
					           {{ member.first_name }} {{ member.last_name }}
					         </label>
					       </div>
						{% endfor %}
					</div>

					<div class="form-group">
						<label for="id_notes">Results:</label>
                        {{ add_journal_event_form.notes }}
					</div>
				</div>
			</div>

			<div class="form-group text-right">
			    <button type="submit" class="btn btn-primary">Add</button>
			</div>

			<p id="add-event-form-response" class="text-success"></p>
		</form>
	</div>
{% endblock modalBody %}

{% block modalFooter %}
{% endblock modalFooter %}
