{% extends 'master.html' %}

{% block title %}
	Thesismates | Home
{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
		<h1>No ongoing projects for now. Here, take some ice cream
			<br>
			<br>
			 <span class="glyphicon glyphicon-ice-lolly"></span>
			 <span class="glyphicon glyphicon-ice-lolly"></span>
			 <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
			 <span class="glyphicon glyphicon-ice-lolly-tasted"></span>
		 </h1>
		</div>
	</div>
{% endblock %}
