{% extends 'master.html' %}
{% load staticfiles %}


{% block title %}
	Thesismates | Sign Up
{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="/"> <i class="fa fa-chevron-left blue-icon"></i> Back</a>
			<h3>Sign Up for Thesismates</h3>
			<form id="signup-form" method="post" action="{% url 'core.views.sign_up' %}">
			{% csrf_token %}
				<div class="form-group">
					{{ signup_form.first_name.label_tag }}
					<span class="text-danger">
					{{ signup_form.first_name.errors.as_text }}
					</span>
					{{ signup_form.first_name }}
				</div>

				<div class="form-group">
					{{ signup_form.last_name.label_tag }}
					<span class="text-danger">
					{{ signup_form.last_name.errors.as_text }}
					</span>
					{{ signup_form.last_name }}
				</div>

				<div class="form-group">
					{{ signup_form.username.label_tag }}
					<span class="text-danger">
					{{ signup_form.username.errors.as_text }}
					</span>
					{{ signup_form.username }}
				</div>

				<div class="form-group">
					{{ signup_form.email.label_tag }}
					<span class="text-danger">
					{{ signup_form.email.errors.as_text }}
					</span>
					{{ signup_form.email }}
				</div>

				<div class="form-group">
					{{ signup_form.password.label_tag }}
					<span class="text-danger">
					{{ signup_form.password.errors.as_text }}
					</span>
					{{ signup_form.password }}
				</div>

				<div class="form-group">
					{{ signup_form.confirm_password.label_tag }}
					<span class="text-danger">
					{{ signup_form.confirm_password.errors.as_text }}
					</span>
					{{ signup_form.confirm_password }}
				</div>

				<div class="form-group">
					{{ signup_form.project_secret_code.label_tag }}
					<span class="text-danger">
					{{ signup_form.project_secret_code.errors.as_text }}
					</span>
					{{ signup_form.project_secret_code }}
				</div>
				
				<button class="btn btn-default" type="submit">Submit</button>
				<p id="signup-form-response" class="text-success"></p>
			</form>	
		</div>
	</div>
</div>
{% endblock content %}


{% block jScripts %}

{% endblock jScripts %}
