{% extends 'master.html' %}
{% load staticfiles %}

{% block title %}
    Ooops!
{% endblock title %}

{% block css %}

{% endblock css %}

{% block modal %}

{% endblock modal %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1>Ooops! Something went wrong!</h1>
            <hr align="left">
            <p>We will fix this as soon as we can, sorry for the inconvinience.</p>
        </div>
    </div>
{% endblock content %}

{% block jScripts %}
{% endblock jScripts %}

